.page {
  background-color: #000000;
  min-height: 100vh;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
