.popup__field-profession {
  width: 358px;
  height: 14px;
  margin: 30px 0 0 36px;
  padding: 0 0 12px 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  align-self: flex-start;
}

@media screen and (min-width: 320px) and (max-width: 619px) {
  .popup__field-profession {
    width: 238px;
    align-self: center;
    margin: 30px 0 0;
  }
}
